{% extends 'base.html' %}
{% block content %}
{{ super() }}

<br>Содержимое страницы Заливка конфига </div>
<form action="/cfg" method="POST"class ="form_contact">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="Запущена настройка конфигурации!">
    <input type="submit" class="btn btn-dark" value="НАСТРОЙКА КОНФИГУРАЦИИ">
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<br>{{data}}
</form>
{% endblock content%}
