{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
Меню настройки подключения и тестов конфига
<form action="/constants" method="post" class="form-contact">
    <p><label> Тип устройства </label> <input type="text" name="device_type" value="" required</p>
    <p><label> Хост </label> <input type="text" name="host" value="" required</p>
    <p><label> Логин </label> <input type="text" name="username" value="" required</p>
    <p><label> Пароль </label> <input type="text" name="password" value="" required</p>
    <p><label> Сикрет </label> <input type="text" name="secret" value="" required</p>
    <p><label> Порт консоли </label> <input type="text" name="port" value="" required</p>
    <p><input type="submit" value="Send"</p>

</form>

{% endblock %}