{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash" {{cat}}>{{msg}}</div>
{% endfor %}
<div class="title">На этой странице можно задать консольный порт для подключения к DUT.
В меню ниже введите 4-х значный порт вашего устройства:</div>
<form action="{{url_for('add_constants')}}" method="post" class="form-contact">
    <p><label> Port console:</label><input type="text" name="port" value="" required</p>
    <p><input type="submit" value="Submitted"</p>
    
{% endblock %}