{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
{% for msg in get_flashed_messages() %}
<div class="flash">{{msg}}</div>
{% endfor %}
Содержимое страницы 
{{title}}
{{post}}
<body>
    <div class="schema"><img src="{{ image_path }}"  alt="Изображение"></div>
</body>
<br>{{test_specification}}
<br>{{test_progress}}
<br>{{result}}
<form action="/start_test_gre" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="1">
    <input type="submit" class="btn btn-dark" value="Start test">
</form>

<form action="/start_test_gre" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="3">
    <input type="submit" class="btn btn-dark" value="Button 2">





{% endblock %}

