{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash" {{cat}}>{{msg}}</div>
{% endfor %}
<br>Используя нижерасположенную кнопку СБРОС КОНФИГУРАЦИИ
 можно сбросить коммутатор на дефолтные настройки. 
 <p>ВНИМАНИЕ!</p>
 <p>Сброс будет проведен сразу после нажатия!</p>
 <p>Сброс пройдет на коммутаторе, 
настройки которого указаны в таблице справа вверху
"Текущие настройки подключения".</p>
<p> Номер консольного порта можно настроить в МЕНЮ НАСТРОЕК</p>
<br><hr><br>
<form action="/reset" method="POST">
    <!-- скрытый параметр -->
    <input type="hidden" name="index" value="Запущен сброс конфига!">
    <input type="submit" class="btn btn-dark" value="СБРОС КОНФИГУРАЦИИ">
<br>
{% for i in result %}
    {% if 'please' in i %}
            <br>
    {% endif %}
    <li>{{ i }} </li>
{% endfor %}

</form>
{% endblock %}