{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="title">
        Используя ниже расположенные ссылки можно перейти к  
        просмотру конфигурации и настройке коммутатора для тестов:
</div>
{%- block thirdmenu -%}
<ul class="thirdmenu">
        {% for m in thirdmenu -%}
            <li><a href="{{m.url}}">{{m.title}}</a></li>
        {% endfor -%}
</ul>
        {% endblock thirdmenu -%} 

<div class="title">
        Используя ссылку ниже  
        можно перейти в меню по работе с файлами конфигурации:
</div>
<ul>
<li><a href='/upload_file_cfg' target="_blank">Загрузка файла конфигурации в базу</a></li>
</ul>    
</form>
{% endblock content%}
