{% extends 'base.html' %}
 
{% block content %}
{{ super() }}

<h2>Выбор платформы и устройства:</h2>

{%- block device_type -%}
<nav>
	<ul class="device">
		{% for m in device_type %}
			Категория: {{m.type_dev }} </li>
			{% for n in device %}
				{% if n.tag_type==m.tag %}
					<a href="{{n.url}}">{{n.device_name}}</a>
				{% endif-%}
			{% endfor -%}
		{% endfor -%}
	</ul>
</nav>
{% endblock device_type %}

<h2>Выбор категории тестов:</h2>

{%- block tests_category -%}
<ul class="tests_category">
        {% for m in tests_category -%}
                <li><a href="{{m.url}}">{{m.name}}</a></li>
        {% endfor -%}
</ul>
        {% endblock tests_category -%}

{% endblock %}