{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="title">
        Ниже находится кнопка просмотра конфига под тест GRE:
    </div>
    <div>
        <form action="/read_cfg" method="POST"class ="form_contact">
            <!-- скрытый параметр -->
            <input type="hidden" name="index" value="1">
            <input type="submit" class="btn btn-dark" value="Просмотр конфигурации устр-ва под тест GRE">
    </div>
    <br>
    {% for i in text %}
        {% if '\n' in i %}
                <br>
        {% endif %}
        {{ i }} 
    {% endfor %}
<br>   
<a class="button"  href="/cfg/1" >Назад</a>
<br>
{% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
{% endblock content%}